<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create new folder</h3>
</div>
<div class="modal-body" id="modal-body">

    <label>Select users or groups:</label>
    <ui-select multiple ng-model="$ctrl.permissionItemSelected" theme="bootstrap" sortable="true" close-on-select="false" style="width: auto;">
        <ui-select-match placeholder="Select user or groups...">{{$item.name}} &lt;</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.permissionItem | propsFilter: {name: $select.search}">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
            <small>
                {{item.type}}
            </small>
        </ui-select-choices>
    </ui-select>
    <label>Select permission levels:</label>
    <ui-select ng-model="$ctrl.roleItemsSelected" theme="bootstrap" title="Choose a person">
        <ui-select-match placeholder="Select role definition...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in $ctrl.roleDefinitionsItems | filter: $select.search">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>